/*CAROUSEL*/
.carousel-inner > .item > img{
	width: 80%;
  margin: auto;
}

#show-images{
	height: 450px;
	width: 580px;
}
/*END OF CAROUSEL*/

/*NAVBAR*/
.navbar {
      padding-top: 25px;
      padding-bottom: 25px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 10px;
      letter-spacing: 5px;
}


.navbar-nav  li a:hover {
      color: #00e6e6 !important;
}

.navbar-brand:hover {
      color: #ff66b3 !important;
}
/*END OF NAVBAR*/

/* LOGIN MODAL */
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}


.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}



/*END OF LOGIN MODAL*/


.container-fluid{
	padding-top: 70px;
	padding-bottom: 70px;
}

/*FOOTER*/
.bgfooter { 
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
    background-color: #2f2f2f;
    color: #ffffff;
}
/*END OF FOOTER*/

/*LABEL*/
label{
	color: #777;
}
/*END OF LABEL*/

/*PANEL TITLE*/
.panel-heading > .panel-title{
	color: #777;
}
/*END OF PANEL TITLE*/

/*MODAL FOCUS(this is to remove the blue border of the modal href)*/
a:focus { 
    outline: none !important;
 }
 /*END OF MODAL FOCUS*/